@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #1d2027;
    width: 100%;
    height: 100vh;

}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: transparent;
    width: 100%;
}

section {
    display: flex;
    background-color: transparent;
}

/* a {
    color: #B6B6B6;
} */

article {
    margin-bottom: 72px;
}


/* navbar */

header#navbar {
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 48px;
    z-index: 40;

}

nav {
    display: flex;
    flex-direction: row;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 12px;
    width: fit-content;
    overflow: hidden;
    padding-right: 12px;
    background-color: #FFFF;
}

nav>ul {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

nav>ul>li {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

nav>ul>li>a {
    color: #1d2027;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
}

nav>ul>li>a>span {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    overflow: hidden;
}

nav>ul>li.group>a>span::after {
    content: "";
    height: 0px;
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: red;
    transition: all .25s ease-in;
}

nav>ul>li.group>a>span:hover:after {
    height: 4px;
}

nav>ul>li.group>a>span:hover {
    color: red;
}

nav>ul>li#home {
    background-color: #f9fafc;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav>ul>li#home:hover {
    background-color: #EDEDED;
}

/* hero */


section#hero {
    top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #FFFF;
    /* margin-right: 48px;
    margin-left: 48px; */
}

section#hero>.hero-info {
    /* width: 100%; */
    padding-right: 48px;
    padding-left: 48px;

}

section#hero>.hero-images {
    position: relative;
    display: flex;
    height: min-content;
    width: min-content;
}

.hero-images>aside>img {
    height: 204px;
    width: 204px;
    border-radius: 9999px;
}

h1.title {
    width: 100%;
    position: relative;
    font-size: 28px;
}

p.subtitle {

    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

p.description {
    font-size: 18px;
    color: #B6B6B6;
    margin-bottom: 36px;
}

.circle-logo {
    margin: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 9999px;
    background-color: #FFFF;

}

.circle-logo.react {
    right: -40px;

}

.circle-logo.redux {
    right: -60px;
    bottom: 90px;
}

.circle-logo.flutter {
    right: -50px;
    bottom: 20px;
}

.circle-logo.react>img {
    height: 60%;
}

.circle-logo.redux>img {
    height: 50%;
}

.circle-logo.flutter>img {
    height: 50%;
}



/* about */

section#leftside {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: #FFFF;
    margin-right: 48px;
    margin-left: 48px;
    margin-top: 0px;

}

section#leftside>article#about {
    display: flex;
    flex-direction: column;
    scroll-margin-top: 204px;

}

section#leftside>article#about>p {
    display: flex;
    margin-bottom: 18px;
    color: #B6B6B6;
    font-weight: 300;
}

section#leftside>article#about>p:last-child {
    margin-bottom: 0;
}

/* my tools */
article#mytools {
    width: 100%;
    scroll-margin-top: 204px;

}

article#mytools>.title {
    margin-bottom: 12px;
}

article#mytools>.logo-case {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px;
    border-radius: 12px;
    gap: 24px;

}

article#mytools>.logo-case>img {
    height: 48px;
}


/* contact */

article#contact {
    width: 100%;
    scroll-margin-top: 204px;

}

article#contact>ul {
    padding-left: 0;
    display: flex;
    list-style: none;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

article#contact>ul>li {
    font-size: 36px;
}

article#contact>ul>li>a {
    color: #B6B6B6;
}

article#contact>ul>li>a:hover {
    color: #FFFF;
}

/* footer */

footer {
    margin-bottom: 96px;
}

@media only screen and (min-width: 1024px) {
    main {
        flex-direction: row;
    }

    section#hero {
        position: sticky;
        margin-right: 96px;
        margin-left: 192px;
        flex-direction: column;
    }

    section#leftside {

        margin-right: 192px;
        margin-left: 96px;
        margin-top: 204px;
    }
}

@media only screen and (min-width: 1280px) {
    section#hero {
        position: sticky;
        margin-right: 96px;
        margin-left: 192px;
        flex-direction: row;
    }

}